<section class="mx-auto my-10">
    <section class="flex justify-center md:justify-between items-center mx-10">
        <section class="flex flex-col items-center md:block">
            <h4 class="font-bold text-2xl text-[#00CC6A]">RECOMMENDED RECIPES</h4>
            <section id="filter" class="bg-white rounded-xl p-4 my-5 w-55 md:w-full flex flex-wrap">
                <select class="w-40 m-3 p-1 border border-gray-300 rounded-md text-gray-600" [(ngModel)]="filters.cuisine" (change)="applyFilters()">
                    <option value="">Cuisine type</option>
                    <option value="Indian">Indian</option>
                    <option value="Italian">Italian</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Chinese">Chinese</option>
                    <option value="American">American</option>
                    <option value="French">French</option>
                    <option value="Thai">Thai</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Middle Eastern">Middle Eastern</option>
                    <option value="Mediterranean">Mediterranean</option>
                </select>
              
               
                <select class="w-40 m-3 p-1 border border-gray-300 rounded-md text-gray-600" [(ngModel)]="filters.category" (change)="applyFilters()">
                    <option value="">Category</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Snack">Snack</option>
                    <option value="Dessert">Dessert</option>
                </select>
             
                <select class="w-40 md:w-53 m-3 p-1 border border-gray-300 rounded-md text-gray-600" [(ngModel)]="filters.cookingTime" (change)="applyFilters()">
                  <option value="">Cooking time in minutes</option>
                  <option value="15">≤ 15 mins</option>
                  <option value="30">≤ 30 mins</option>
                  <option value="60">≤ 60 mins</option>
                </select>
              
           
                <select class="w-40 m-3 p-1 border border-gray-300 rounded-md text-gray-600" [(ngModel)]="filters.difficulty" (change)="applyFilters()">
                    <option value="">Difficulty level</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
              </section>
        </section>
          

    </section>
    <section class="flex flex-wrap justify-center my-5">
        @if(filteredRecipes.length==0){
            <p>No Recipes Found :(</p>
        }
        @for(recipe of filteredRecipes; track recipe; let i=$index){
            <article class="rounded-xl m-4 bg-white shadow-[0px_4px_4px_0px_#00000040] w-53.5 relative hover:cursor-pointer" >
                <img src="{{recipe.img}}" alt="dish" (click)="openRecipe(recipe.id,recipe.name)">
                <i id="fav-{{i}}" class="fa-regular fa-heart absolute top-2 right-2 bg-white p-1 rounded-full  hover:cursor-pointer" (click)="removeFab(recipe.id, i)"></i>
                <section class="p-2" (click)="openRecipe(recipe.id,recipe.name)">
                    <section class="flex justify-between items-center">
                        <section class="ml-1">
                            <p class="font-bold">{{recipe.name}}</p>
                            <p class="font-semibold">{{recipe.category}}</p>
                        </section>
                        <section (click)="openProfile(recipe.userid)">
                            <img src="{{recipe.dishdp}}" alt="dp">
                        </section>
                    </section>
                    <section class="my-2 flex flex-wrap">
                        @for(tag of recipe.tags; track tag){
                            <p class="text-xs border border-gray-300 rounded-lg p-1 m-1 px-3">{{tag.trim()}}</p>
                        }
                    </section>
                    <section class="flex p-1 items-center ml-1">
                        <img src="/images/stars.svg" alt="stars">
                        <p>{{recipe.reviews}}</p>
                    </section>
                </section>
            </article>
        }
    </section>
</section>