<section class="fixed flex justify-center items-center top-1 h-[100vh] w-[100vw] text-center bg-black/70" >
    <section class="bg-white w-85 h-80 flex flex-col justify-center items-center rounded-2xl">
        <section class="w-60">
            <p class="justify-self-start text-[#00CC6A] text-2xl font-bold mb-5">LOGIN</p>
        </section>
        <form action="" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                <input type="email" name="email" placeholder="Email Id" class="border border-black rounded-md my-2 p-1 text-gray-500 w-60" ngModel>
                <br>
                <input type="password" name="password" placeholder="Password" class="border border-black rounded-md my-2 p-1 text-gray-500 w-60" ngModel>
                <p class="text-sm text-blue-600 hover:cursor-pointer">Forgot Password?</p>
                <section>
                    <button class="bg-[#00CC6A] mx-2 px-5 py-1 text-white border-2 rounded-2xl font-semibold my-4" >LOGIN</button>
                    <button class="text-[#00CC6A] mx-2 px-4 py-1 border-[1.5px] rounded-2xl font-semibold my-4" ><a routerLink='/'>CANCEL</a></button>
                </section>
            </form>
    </section>
</section>

<section id="login-alert" class="fixed top-20 right-1 z-10 hidden">
    <section class="flex items-center p-2 bg-[#00CC6A] w-fit rounded-lg shadow text-white">
        <i class="fa-solid fa-triangle-exclamation text-black"></i>
        <p class="m-2 ml-1 text-lg font-semibold">Wrong Email Or Password</p>
    </section>
</section>